/* Общие стили */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Стили для кнопок */

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

img {
    width: 60%;
}



/* Дополнительные стили по мере необходимости */

body {
    font-size: 16px; /* Размер шрифта для десктопных устройств */
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Размер шрифта для планшетов */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px; /* Размер шрифта для мобильных устройств */
    }
}

/* Стили для кнопок навигации */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ddd;
}

/* Стили для разделов сайта */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}